@font-face {
    font-family: ArtD;
    src: url("../font/ArtDystopia.ttf");
}
@font-face {
    font-family: Macabre;
    src: url("../font/MetalMacabre.ttf");
}
@font-face {
    font-family: MM;
    src: url("../font/MetalMania-Regular.ttf");
}
@font-face {
    font-family: depressiv;
    src: url("../font/manic-depressive.ttf");
}